<html>
    <head>
       <meta charset="utf-8">
       <title>База данных толкований</title>
    </head>
 <body>
<h3>База данных толкований Активного словаря русского языка</h3>
<hr></hr>
<p><b>Поиск</b></p>

	<form action = "/results">
	<p>Введите запрос: <input type=text name="search_form" value=""></p>
	<p><b>Выберите параметр поиска:</b></p>
    <p><input name="logic" type="radio" value="and"> x AND y</p>
    <p><input name="logic" type="radio" value="or"> x OR y</p>
    <p><input type="submit" value="Поиск"></p>
	</form>
	
</body>
</html>